doctype html
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap' rel='stylesheet')
  title Uni Kaksha
  style.
    @media only screen and (max-width: 620px) {
    table[class=body] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
    }
    table[class=body] p,
    table[class=body] ul,
    table[class=body] ol,
    table[class=body] td,
    table[class=body] span,
    table[class=body] a {
    font-size: 16px !important;
    }
    table[class=body] .wrapper,
    table[class=body] .article {
    padding: 10px !important;
    }
    table[class=body] .content {
    padding: 0 !important;
    }
    table[class=body] .container {
    padding: 0 !important;
    width: 100% !important;
    }
    table[class=body] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
    }
    table[class=body] .btn table {
    width: 100% !important;
    }
    table[class=body] .btn a {
    width: 100% !important;
    }
    table[class=body] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
    }
    }
    @media all {
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    .apple-link a {
    color: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: none !important;
    }
    .btn-primary table td:hover {
    background-color: #6556ef !important;
    }
    .btn-primary a:hover {
    background-color: #6556ef !important;
    border-color: #6556ef !important;
    }
    }
table.body(role='presentation' border='0' cellpadding='0' cellspacing='0' style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; background-image: url(https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/sign-up-bg.png); background-repeat: no-repeat; background-size: cover; width: 100%; font-family: 'Mulish', sans-serif;" width='100%' background='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/sign-up-bg.png')
  tr
    td(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top;" valign='top') &nbsp;
    td.container(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; display: block; max-width: 580px; padding: 10px; width: 580px; Margin: 0 auto;" width='580' valign='top')
      .header(style='padding: 20px 0;')
        table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;' width='100%')
          tr
            td.align-center(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; text-align: center;" valign='top' align='center')
              img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/img-logo.png' height='40' alt='Postdrop' style='border: none; -ms-interpolation-mode: bicubic; max-width: 100%;')
      .content(style='box-sizing: border-box; display: block; Margin: 0 auto; max-width: 580px; padding: 10px;')
        // START CENTERED WHITE CONTAINER
        span.preheader(style='color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;') This is preheader text. Some clients will show this text as a preview.
        table.main(role='presentation' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; background: #ffffff; border-radius: 3px; width: 100%;' width='100%')
          // START MAIN CONTENT AREA
          tr
            td.wrapper(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign='top')
              table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 100%; width: 100%;' width='100%')
                tr
                  td(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top;text-align: center;" valign='top')
                    p(style="font-family: 'Mulish', sans-serif; font-size: 12px; font-weight: normal; margin: 0; color: #2a263e; opacity: 0.5;text-align:center") Dear #{firstName},
                    h1(style="color: #06090f; font-family: 'Mulish', sans-serif; line-height: 1.4; margin: 0;  font-size: 35px; font-weight: 700; text-align: center; text-transform: capitalize;") Class Reminder
                    img(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/bg-reminder.png' style='border: none; -ms-interpolation-mode: bicubic; box-sizing: border-box; max-width: 100%;')
                tr
                  td(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top;text-align: center;" valign='top')
                    h2(style='color: #06090f;  font-weight: bold; line-height: 1.4; margin: 0; margin-bottom: 10px; font-size: 24px;') #{title}
                    p(style="font-family: 'Mulish', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 10px;color: #2A263E;") #{startDate}, #{time}
                    p(style="font-family: 'Mulish', sans-serif; font-size: 16px; font-weight: normal; margin: 0; margin-bottom: 10px; color: #787878; font-weight: 600;") Meet Link
                    table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; box-sizing: border-box; min-width: 100%; width: 100%;' width='100%')
                      tbody
                        tr
                          td(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; " valign='top')
                            table(role='presentation' border='0' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: auto; width: auto;')
                              tbody
                                tr
                                  td(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; border-radius: 5px; text-align: center; background-color: #f7b92c;" valign='top' align='center' bgcolor='#f7b92c')
                                    a(href=`${link}` style='border: solid 1px #f7b92c; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; background-color: #f7b92c; border-color: #f7b92c; color: #ffffff;') Join Now
                    p(style="font-family: 'Mulish', sans-serif; font-size: 14px; box-sizing: border-box; color: #2a263e; margin: 15px 0 10px;padding-top: 10px; border-top: 1px solid #ebebeb") If the above link doesn&apos;t work please copy this URL and paste it in your browser
                    a(href=`${link}` style="font-family: 'Mulish', sans-serif; font-size: 12px;  box-sizing: border-box; text-decoration: none; margin-top: 0; ")
                      p(style='box-sizing: border-box; margin-top: 0px; color: #6456ef; font-weight: 600;') #{link}
                    p(style="font-family: 'Mulish', sans-serif; font-size: 12px; font-weight: normal; margin: 0; margin-bottom: 5px; color: #787878;") Our Best,
                    p(style="font-family: 'Mulish', sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px; color: #06090f;") Uni kaksha and the team
          // END MAIN CONTENT AREA
          // Footer start
        table.footer(align='center' cellpadding='0' cellspacing='0' style='border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; min-width: 50%; width: 50%;' width='50%')
          tbody
            tr.d-flex.footer-row(style='display: flex; padding: 10px 0px; border-top: none; margin: 0 auto;')
              td.half(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; width: 33%; text-align: center; display: inline-block;" width='33%' valign='top')
                a.social-icons(href='https://twitter.com/UniKaksha' style='color: #ec0867; text-decoration: underline; box-sizing: border-box; border: 2px rgb(43, 39, 63, 0.1) solid; margin: 0 3px; width: 40px; height: 40px; border-radius: 100%; display: inline-block; padding: 7px;')
                  img.twitter-icon(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/twitter.png' style='border: none; -ms-interpolation-mode: bicubic; max-height: 20px; max-width: 100%;')
              td.half(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; width: 33%; text-align: center; display: inline-block;" width='33%' valign='top')
                a.social-icons(href='https://www.instagram.com/unikaksha/' style='color: #ec0867; text-decoration: underline; box-sizing: border-box; border: 2px rgb(43, 39, 63, 0.1) solid; margin: 0 3px; width: 40px; height: 40px; border-radius: 100%; display: inline-block; padding: 7px;')
                  img.instagram-icon(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/instagram.png' style='border: none; -ms-interpolation-mode: bicubic; max-height: 20px; max-width: 100%;')
              td.half(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; width: 33%; text-align: center; display: inline-block;" width='33%' valign='top')
                a.social-icons(href='https://www.facebook.com/unikaksha/' style='color: #ec0867; text-decoration: underline; box-sizing: border-box; border: 2px rgb(43, 39, 63, 0.1) solid; margin: 0 3px; width: 40px; height: 40px; border-radius: 100%; display: inline-block; padding: 7px;')
                  img.facebook-icon(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/facebook.png' style='border: none; -ms-interpolation-mode: bicubic; max-height: 20px; max-width: 100%;')
              td.half(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; width: 33%; text-align: center; display: inline-block;" width='33%' valign='top')
                a.social-icons(href='https://www.linkedin.com/company/unikaksha' style='color: #ec0867; text-decoration: underline; box-sizing: border-box; border: 2px rgb(43, 39, 63, 0.1) solid; margin: 0 3px; width: 40px; height: 40px; border-radius: 100%; display: inline-block; padding: 7px;')
                  img.linkedin-icon(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/linkedin.png' style='border: none; -ms-interpolation-mode: bicubic; max-height: 20px; max-width: 100%;')
              td.half(align='center' style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top; width: 33%; text-align: center; display: inline-block;" width='33%' valign='top')
                a.social-icons(href='https://www.youtube.com/channel/UCp5Id5P-KDLUMl8AVb13bFg' style='color: #ec0867; text-decoration: underline; box-sizing: border-box; border: 2px rgb(43, 39, 63, 0.1) solid; margin: 0 3px; width: 40px; height: 40px; border-radius: 100%; display: inline-block; padding: 7px;')
                  img.youtube-icon(src='https://kaksha-docs.s3.ap-south-1.amazonaws.com/images/youtube.png' style='border: none; -ms-interpolation-mode: bicubic; max-height: 20px; max-width: 100%;')
        // Footer end
        // END CENTERED WHITE CONTAINER
    td(style="font-family: 'Mulish', sans-serif; font-size: 14px; vertical-align: top;" valign='top') &nbsp;
